<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    <h1>Welcome to the Home Page</h1>
    <% if (locals.errors.storageNotFound) { %>
        <h2 class="errors"><%= locals.errors.storageNotFound %></h2>
    <% } %>
    <% if (locals.user) { %>
        <h2>Hello, <%= locals.user.username %>!</h2>
        <div>
            <label for="folderName">Folder Name:</label>
            <input type="text" id="folderName" placeholder="Enter folder name" />
        </div>
    
        <div style="width: 200px; height: 200px; background-color: red; margin-top: 10px;" id="drag-box">
            <input type="file" id="fileinput" multiple>
        </div>
        <p><a href="/auth/logout">Logout</a></p>
    <% } else { %>
        <p>Please <a href="/auth/signin">sign in</a> or <a href="/auth/signup">sign up to access your account.</p>
    <% } %>
</body>

<script>
    const fileInput = document.querySelector("input[type='file']");
    const folderInput = document.getElementById("folderName");

    
    fileInput && fileInput.addEventListener('change', async () => {
        const folderPath = folderInput.value || "default_folder"; 
        if (fileInput.files.length == 0)
            return;
        const  uploadPromise = Array.from(fileInput.files).map(file => {
            const stream = file.stream();
            return fetch("/file/upload", {
                method: 'POST',
                headers: {
                    'Content-Type': file.type,
                    'X-File-Name': `${folderPath}/${file.name}`,
                },
                body: stream
            }).then(res => {
                if (!res.ok)
                    throw new Error("Failed to upload");
                return res.json();
            })
            .then(data => {
                console.log("successful", data);
            })
            .catch(err => {
                console.error(err);
            })
        });
        try {
            await Promise.all(uploadPromise);
            fileInput.value = '';
        } catch(err) {
            console.error(err)
        }
    });
</script>
</html>
